@charset "UTF-8";

body {
	font-family: 'Open Sans', sans-serif;
	color: rgba(0, 0, 0, 0.9);	/* Black with 90% opacity */
	text-align: left;
	background-color: rgba(255, 255, 255, 0.9);	/* White with 90% opacity*/
	padding-top: 70px;
}

ul {
	list-style-type: none;
}

/* NAVBAR STYLE */

.navbar {
	background: none repeat scroll 0% 0% #34495E;
	color: rgba(255, 255, 255, 0.9);	/* White with 90% opacity*/
}

.navbar a {
	color: rgba(255, 255, 255, 0.9) !important;	/* White with 90% opacity*/
}

.btn-navbar {
	color: rgba(0, 0, 0, 0.9);
	border: medium none;
}

.post {
	border: 0px solid rgba(0, 0, 0, 0.02);
	border-bottom-width: 5px;
	padding: 15px 0px 15px 25px;
}

.title {
	font-size: 2em;
}

.title a {
	text-decoration: underline;
}

.author {
	font-size: 0.8em;
	padding-left: 60px;
}

.author .glyphicon {
	padding: 0px 5px 0px 5px;
}

.date {
/* 	padding-left: 5px; */
}

.page {
	text-align: center;
}

.pagination {
	background: none repeat scroll 0% 0% #34495E;
}

.social-login {
	text-align: center;
}

.flash-close {
	width: 32px;
	height: 32px;
	position: relative;
	margin: -24px;
	float: right;
	border: none;
}

.close-button {
	background-color: transparent;
}

.close-button128 {
	width: 128px;
	height: 128px;
}

.close-button64 {
	width: 64px;
	height: 64px;
}

.close-button32 {
	width: 32px;
	height: 32px;
}

.close-button16 {
	/* Fucking SVG	 */
	width: 26px;
	height: 26px;
}
